*{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}
section{
  display: grid;
  grid-template-columns: 0.7fr 4fr;
  height: 100vh;
}
  .sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    /* background-color: #38bdf8; */
    height: 100vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  }
    .first{
      display: grid;
      grid-template-columns: 0.5fr 1.5fr;
      align-items: center;
      height: 120px;
      justify-content: center;
      padding-bottom: 35px;
      /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
      height: 100vh; */
    }
      h3{
        font-size: 2rem;
      }
      #dash-img{
        height: 65px;
        width: 65px;
        margin-left: 25px;
      }
      #dash-img:hover{
        height: 75px;
        width: 75px;
      }
    .personals{
      display: grid;
      grid-template-rows: repeat(6 1fr);
      grid-template-columns: 0.5fr 1.5fr;
      align-items: center;
      padding-bottom: 95px;
      
    }
      .persola-img{
        height: 35px;
        width: 35px;
        margin-left: 35px;
        color: aliceblue;
        padding: 15px;
        
      }
      .persola-img:hover{
        height: 40px;
        width: 40px;
      }
      h2{
        font-size: 1.5em;
  
      }
    .settings{
      display: grid;
      grid-template-rows: repeat(3, 55px);
      grid-template-columns: 0.5fr 1.5fr;
      align-items: center;
    }
   
  #horizontal-box{
    background-color: rgb(255, 255, 255);
    height: 200px;
    /*  */
    display: grid;
    grid-template-rows: 1fr 2fr 77.5vh;
    }
    .searching{
      display: grid;
      margin-top: 10px;
      grid-template-columns: 4fr 0.5fr 0.5fr 1fr;
      align-items: center;
      
    }
      #enlace{
        display: grid;
        grid-template-columns: 0.5fr 6fr;
        align-content: center;
      }
    
      input{
        background-color: rgba(222, 217, 217, 0.771);
        width: 600px;
        padding: 15px;
        border-radius: 15px;
      }
      #pollos{
        height: 60px;
        width: 60px;
      }
      #ricardo{
        font-size: 1.5rem;
      }
    #down-box{
      display: grid;
      grid-template-columns: 1fr 5fr repeat(3, 1fr);
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
      
    
      }
      #pollasos{
        height: 80px;
        width: 80px;  
      }
      #down-box a{
        display: grid;
        justify-items: center;
        align-items: center;
      }
      #pollasos:hover{
        height: 90px;
        width: 90px;
      }
        #down-box .textos{
          display: grid;
          justify-items: start;
          align-content: center;
        }
        .boton{
        background-color: rgb(13 115 255);
        margin: 35px;
        color: aliceblue;
        font-size: 1.2em;
        border-radius: 25px;
        border: 0.5px white solid;
        padding: 14px;
      }
    .here{
      background-color: rgb(199 233 239 / 26%);
      display: grid;
      grid-template-columns: 2.8fr 1fr;
      padding: 15px;
      
    }
      .here .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        
      }
        .card{
          background-color: rgb(255, 255, 255);
          border-radius: 12px;
          border-left: 10px solid rgb(240 222 36);
          box-shadow: 13px 16px 15px -3px rgba(0,0,0,0.1);
          /* grid-things */

          display: grid;
          grid-template-rows: 4fr 1fr;
        }
          .inner-card{
            padding: 9px;
            align-items: start;
          }
          .img-cards{
            display: flex;
            flex-direction: row;
            margin-left: 445px;
            width: 35px;
            height: 35px;
            
          }
          .img-cards img{
            padding-left: 5px;
          }

        
      
    
        
  